:root {
    --darkColor: black;
    --highlightColor: #bd0000;
    --hoverColor: #808588;
    --lightColor: #fff;
}

body {
    font-family: 'Thasadith', sans-serif;
}

h1 {
    padding: 20px;
    display: inline-block;
    color: var(--darkColor);
    font-family: 'Monoton', sans-serif;
    font-size: xx-large;
}

.box {
    border-radius: 12px;
}

#searchBar {
    border: solid 1px black;
    padding: 0 12px;
    border-radius: 8px;
    margin: 2px;
}

.searchBtn {
    border: solid 1px black;
    border-radius: 8px;
    color: black;
    background-color: var(--lightColor);
    padding: 0 12px;
    margin: 2px;
}

.largeHuge {
    font-size: 10vw;
    color: var(--highlightColor);
    background-color: var(--darkColor);
    font-family: 'Monoton', sans-serif;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}

.searchBtn:hover {
    color: var(--lightColor);
    background-color: var(--darkColor);
}

/* Work on responsiveness */