:root {
    --darkColor: black;
    --highlightColor: #bd0000;
    --hoverColor: #808588;
    --lightColor: #fff;
    --standardPix: 12px;
    --borRadSm: 8px;
}

body {
    font-family: 'Thasadith', sans-serif;
}

header {
    background-color: #808588;
    border-radius: var(--standardPix);
}

h1 {
    padding: 20px;
    display: inline-block;
    color: var(--darkColor);
    font-family: 'Monoton', sans-serif;
    font-size: xx-large;
}

p {
    color: var(--darkColor);
    font-family: 'Thasadith', sans-serif;
    font-size: 1.5rem;
}

p::selection {
    color: var(--darkColor);
    background-color: var(--hoverColor);
}

.box {
    border-radius: var(--standardPix);
}

#searchBar {
    border: solid 1px black;
    padding: 0 var(--standardPix);
    border-radius: var(--borRadSm);
    margin: 2px;
    width: 100%;
}

.searchBtn {
    border: solid 1px black;
    border-radius: var(--borRadSm);
    color: black;
    background-color: var(--lightColor);
    padding: 0 var(--standardPix);
    margin: 2px;
}

#previous-searches button {
    color: var(--darkColor);
    border: solid 1px var(--hoverColor);
    padding: 0 var(--standardPix);
    margin: 2px;
    border-radius: var(--borRadSm);
    width: 100%;
}

#previous-searches button:hover {
    border: solid 1px var(--darkColor);
    background-color: var(--hoverColor);
}

.largeHuge {
    font-size: 10vw;
    color: var(--highlightColor);
    background-color: var(--darkColor);
    font-family: 'Monoton', sans-serif;
    text-align: center;
    border-radius: var(--standardPix);
    padding: var(--standardPix);
}

.searchBtn:hover {
    color: var(--lightColor);
    background-color: var(--darkColor);
}

.movie-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: var(--standardPix);
    margin: var(--standardPix);
    width: 100%;
    height: 100%;
  }